
<div class="font-lato gc-ep-cont" ng-app="sunbird-endpage" ng-controller="endPageController"     id='endpage' ng-show="showEndPage">
  <div class="assessment-content assessment-score-content">
    <div class="assessment-content-title mt-32">You assessment score is {{userScore}}/{{totalScore}}
    </div>
    <div class="assessment-content-description mt-16">
      <div class="text-center">
        You can re-take the assessment to improve your score or move to
        next module to continue learning.
      </div>
    </div>
    <div class="assessment-action-buttons mt-40">
      <button type="button" class="sb-btn sb-btn-normal sb-btn-outline-primary sb-btn-responsive mr-24" ng-click="openGenie()"> Exit </button>
      <button type="button" class="sb-btn sb-btn-primary sb-btn-normal sb-btn-responsive" ng-click="replayContent()"> Re-take Assessment </button>
    </div>
    <div class="text-center mt-32">
      <div class="assessment-result"><i class="check circle icon"></i>We'll send the answer key link to your
        registered contact details. 
      </div>
    </div>
  </div>
</div>
<!-- <sunbird-userswitcher></sunbird-userswitcher> -->